@use '../vars' as *;

#menuButton {
    @include reset;
   
   & {

       
       position: fixed;
       // z-index in styles/stack
       margin: .5rem;
       top: var(--default-padding);
       right: var(--large-padding);
       display: block;
       width: 3rem;
       height: 3rem;
       display: inline-block;
       transition: 
            background-color .5s; 
       cursor: pointer;
       color: var(--text-color-light);
       background-color: var(--bg-color-light);
    }

    span {
        text-indent: -99999px;
    }

    &:before, &:after, span {
        content: "";
        display: block;
        background-color: var(--text-color-light);
        width: 60%;
        height: .2rem;
        border-radius: .1rem;
        position: absolute;
        top: calc( 50% - .1rem );
        left: 20%;
        transform-origin: center;
        transition: transform .5s ease-out;
    }
    &:before {
        transform: translateY( -.65rem );
    }
    &:after {
        transform: translateY( .65rem );
    }


    &:hover, &.active {
        background-color: var(--bg-color-medium);

    }
    &.active {
        background-color: transparent;
        span {
            transform: scale(0);
        }
        &:before, &:after {
            background-color: var(--text-color-dark);
        }
        &:before {
            transform: rotate( 135deg );
        }
        &:after {
            transform: rotate( -135deg );
        }
        
        &:hover {
            &:before, &:after {
                background-color: var(--bg-color-dark);
            }
        }

    }
    
    @include for-desktop {
        position: absolute;
        // z-index in styles/stack
        margin: 0;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;

        transition: 
            background-color .5s, 
            right .25s ease-in-out 1s,
            width .25s ease-in-out 1s;


        
        &:hover, &.active {
            background-color: var(--bg-color-medium);
            
            &:before, &:after, span {
                background-color: var(--bg-color-light);
            }
        }
        &.active:hover {
            &:before, &:after, span {
                background-color: var(--bg-dark);
            }
    
        }
    }
    
    @include for-mini {
        position: fixed;
        inset: auto 0 -4rem;
        height: 4rem;
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: var(--bg-color-dark);
        transition: 
            background-color .5s,
            bottom .5s ease .25s; 

        &.visible, &.active {
            bottom: 0;
        } 

        &:before, &:after, span {
            width: 2.5rem;
            left: auto;
            right: 2rem;
        }
        
        &.active {
            left: calc(100% - 5.25rem);
            right: 1.75rem;
            width: 4rem;
            border-radius: 50% 50% 0 0;
            aspect-ratio: 1/1;
            background-color: var(--primary-color);
            &:before, &:after, span {
                right: .75rem;
                background-color: var(--text-color-light);
            }
        }
    }
}

@include for-desktop {

    #pageHeader h1:hover #menuButton, #menuButton.active {
        right: -3rem;
        width: 3rem;
    }
    #pageHeader h1:hover #menuButton {
        transition: 
            background-color .5s, 
            right .25s ease-in-out .15s,
            width .25s ease-in-out .15s;
    }
}



#menu {

    /* # # # # L A Y O U T # # # # */

    position: fixed;
    inset: 0;
    overflow: auto;
    // z-index in styles/stack
    margin: 0;
    padding: calc( var(--large-padding) / 2 );
    
    
    a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 1em;
        color: inherit;
    }
    ul {
        @include reset;
        display: flex;
        flex-direction: column;
        list-style: none;

        li {
            @include reset;
            flex-shrink: 0;
            flex-grow: 1;
            
            a {
                padding-left: var(--large-padding);

                button {
                    @include reset;

                    text-indent: -9999px;
                    width: 3em;
                    height: 3rem;
                    margin: -2rem .5rem;
                    line-height: 1rem;
                    position: relative;
                    background-color: transparent;

                    &:after {
                        content: '';
                        display: block;
                        width: 1rem;
                        height: 1rem;
                        position: absolute;
                        inset: 0;
                        border-width: 0 2px 2px 0;
                        border-style: solid;
                        border-color: var(--bg-color-medium);
                        transform: translate(50%, 100%) rotate(-45deg);
                        transition: transform .5s;

                    }
                    &:hover:after {
                        border-color: var(--text-color-light);
                    }

                    &.submenuOpen:after {
                        transform: translate(70%, 100%) rotate(45deg);
                    }
                }
            }
            li {
                
                a {
                    padding-left: calc( var(--large-padding) * 2 );
                }
                
                li {
                    font-size: .85em;
                    a {
                        padding: .5em 1em;
                        padding-left: calc( var(--large-padding) * 3 );
                    }

                }
            }

        }
        



    }

    @include for-mini {
        padding: 0;
        padding-top: calc( var(--large-padding) * 2.333 );
    }

    @include for-desktop {
        position: absolute;
        inset: auto;
        right: -2.9rem;
        top: 0;
        height: 100%;
        min-width: 16.666vw;
        overflow: visible;
        padding: 0;

        &, & ul ul {
            font-size: 1rem;
            transform: translateX(100%);
            
            li {
                font-size: inherit !important;
            }
        }

        & > ul {
            height: 100%;

            & > li {

                & > a button:after {
                    margin-top: .3em !important;
                }
            }
        }
             
        ul {
            li {
                position: relative;
                a {
                    padding: .5rem 1rem !important;
                    
                    button {
                        height: 100%;
                        margin: 0;
                        &:after {
                            margin-top: -.2em;
                            width: .5em;
                            height: .5em;
                        }
                    }
                    
                }
    
                ul {
                    border-top: .25rem solid var(--bg-color-light);
                    border-bottom: 1rem solid var(--bg-color-light);
                    position: absolute;
                    width: auto;
                    height: auto;
                    min-height: 100%;
                    top: -.25rem;
                    right: 0;
                }
            }
        }
    }


    /* # # # # D E S I G N # # # # */

    background-color: var(--bg-dark);
    font-size: var(--menuitem-size);
    font-family: var(--text-face);
    text-align: left;
    text-transform: none;
    letter-spacing: 0;
    line-height: 1em;

    & > ul {

        & > li {
            @include light-text-on-light;

            &.current > a, &.active > a {
                color: var(--bg-dark);
                font-weight: 800;

                button {
                    &:before, &:after {
                        border-color: var(--bg-light) !important;
                    }
                }
            }
            &.active { 
                @include light-text-on-medium;

                & > a {
                    button {
                        
                        &:after {
                            border-color: var(--bg-color-light); 
                        }
                        &:hover:after {
                            border-color: var(--text-color-light);
                        }
                    }
                }
            }
        }
    }

    ul {
        li {
            transition: background-color .3s, color .1s;

            &:hover {
                @include light-text-on-color;

                a button:after {
                    border-color: var(--bg-color-light);
                }
            }

            &.active {

                &.current {
                    font-weight: 800;
                    cursor: default;
    
                    li {
                        font-weight: 400;
                    }
                }
    
                & > a {    
                    button:hover:after {
                        border-color: var(--text-color-dark);
                    }
                }
                li {
                    &.active:hover {
                        @include dark-text-on-color;
                    }
                }
    
            }
            li {
                @include dark-text-on-light;
                
                &:hover {
                    @include light-text-on-medium;
                }

                &.opened:hover {
                    @include light-text-on-dark;
                }
                &.active {
                    & > a {
                        font-weight: 800;
                    }
                }

                li {
                    &:hover {
                        @include light-text-on-dark;
                    }
                }
            }
        }
    }

    @include for-desktop {
        background-color: var(--bg-color-light);
    }
    
    @include for-mini {
        background-color: var(--bg-color-light);
    }
}

/* 
################################################################################################
                    C O N T E N T   D I S P L A Y
################################################################################################
*/


.textContent .content-display {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, var(--fit-chapters) );
    gap: .75rem;
    align-items: start;

    &, ul {
        list-style: none;
        padding: 0;
    }
    h3 {
        position: absolute;
        top: -1.2em;
        right: 1rem;
        // z-index in styles/stack
        font-size: clamp(3rem, 7vw, 4rem);
        color: var(--accent-color);
        text-shadow: none;
        letter-spacing: -.1em;
    }
    h4 {
        padding-inline: .5rem;

        a:hover {
            text-decoration-color: var(--bg-color-light);
            text-decoration-thickness: 3px;
        }
    }
    li {
        border-top: .5rem solid var(--bg-color-light);
        position: relative;
    }
    & > li {

        &:after {
            content: "";
            display: block;
            width: calc( 100% + .25rem );
            height: calc( 100% + .5rem );
            width: .25rem;
            background-color: var(--text-color-dark);
            position: absolute;
            left: -.25rem;
            top: -.5rem;
        }

        & > ul {
            padding: 0 .25rem 0 .75rem;

            li, h4 {
                float: left;
                clear: both;
            }

            li {
                margin-top: .15rem;
                border-top: 1px solid var(--text-color-dark);
                padding: .666rem .5rem .333rem;

                &:first-of-type {
                    border-top: none;
                }

                a {
                    display: block;
                    color: var(--text-color-dark);
                    font-variant: normal;

                    &:hover {
                        font-weight: bold;
                        text-decoration: none;
                        /* color: var(--bg-color-medium); */
                    }
                }
            }
        }
    } 
    figure {
        width: 100%;
        aspect-ratio: 1/1;

    }

    @include for-mini {
        
        display: block;
        
        & > li {
            display: grid;
            grid-template-columns: 1fr 2fr;
            height: auto;
            border-top: 0;
            margin-bottom: var(--large-padding);
            
            &:after {
               width: 1rem;
               background-color:  var(--bg-color-light);
               top: 0;
               left: calc( 33% - .75rem );
               height: 100%;
            }

            & > ul {
                padding-bottom: 0;
            }
        }
    
        h3 {
            left: 2vw;
            top: 0;
            line-height: 0;
            font-size: clamp( 2.5rem, 15vw, 6rem );
            right: auto;
        }
        h4 {
            border-top: .25rem solid var(--text-color-dark);
            padding-top: 1rem;
            margin-top: 0;
        }
        figure {
            height: 100%;
            /* aspect-ratio: unset; */
        }
    }
}





/* 
################################################################################################
                    C O N T E N T   M I N I
################################################################################################
*/

.post-w-minicontent {

    .mini-content {
        width: 22rem;
        margin: 0;
        position: fixed;
        top: 50vh;
        right: calc( var(--default-padding) * -2.5 );
        // z-index in styles/stack
        padding: var(--default-padding);
        padding-right: 3.5rem;
        transform: translate( calc( 100% - var(--large-padding) * .85 ), -50% );
        
        
        background-color: var(--accent-color2);
        list-style: none;
        border-radius: 2rem 0 0 2rem;
        transition: transform .5s ease-out;
        --animate: 15s;

        h2 {
            margin-bottom: .5rem;
            padding-inline: .5rem;
            line-height: 1.1em;


            a {
                color: var(--text-color-dark);
                transition: .25s;
                &:hover {
                   opacity: .85;
                //    color: var(--bg-color-dark);
                }
            }
        }

        li {
            border-bottom: 1.5px solid var(--bg-dark);
            padding: .5rem;

            &:last-of-type, &:nth-last-of-type(2) {
                border-bottom: 0;
            }

            a {
                color: var(--text-color-light);

                &:hover {
                    font-weight: bold;
                }
            }

            &.utils {
                column-span: all;
                border-top: 4px double var(--text-color-light);
                padding-top: .5rem;
                a, button {
                    display: inline-block;
                    margin-right: .5rem;
                    &:hover {
                        color: var(--text-color-dark);
                    }

                    &[title=Natrag] {
                        margin-left: 2rem;
                    } 
                }
                button {
                    color: var(--text-color-light);
                    cursor: pointer;
                    background-color: transparent;
                    font-size: 1rem;
                    padding: 0;
                }
            }
        }
        
        &:after {
            content: "";
            display: block;
            width: 4rem;
            aspect-ratio: 1/1;
            background-color: inherit;
            clip-path: polygon(0 0, 100% 100%, 0 100%);
            z-index: -1;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate( -50%, -50% ) rotate(45deg);
            transition: transform .5s linear;
            cursor: pointer;
            border: 0px solid var(--accent-color2);
            box-sizing: content-box;
        }
        &:not( .opened ):after {
            animation: signal var(--animate) ease-out 5s 3;
        }
        
        @keyframes signal {
            0% { border-width: 0rem; opacity: 1;}
            2% { border-width:.2rem; opacity:.9;}
            3% { border-width: 0rem; opacity:.8;}  
            5% { border-width:.3rem; opacity: 1;}
            6% { border-width:.1rem; opacity:.9;}
            7% { border-width:.4rem; opacity:.8;}
           10% { border-width: 0rem; opacity: 1;}
        }
        
        &:hover:after {
            transform: translate( -50%, -50% ) rotate(45deg) scale(1.5);
            transition: transform .35s ease-out;
        }

        &.opened {
            transform: translate(0, -50%);

            &:after {
                transform: translate( -10%, -50% ) rotate(45deg);
                cursor: default;
            }
            &:hover:after {
                transform: translate( -10%, -50% ) rotate(45deg);
            }
        }
    }

    @include for-desktop {
        position: relative;
        overflow: hidden;

        h6 {
            position: relative;
        }

        .mini-content {
            
            position: absolute;
            width: 60%;
            height: auto;
            inset: 0 auto auto var(--large-padding);
            border-radius: 0 0 2rem 2rem;
            padding-right: 0;
            padding-top: 2rem;
            columns: auto 20rem;
            column-rule: 1px dotted var(--text-color-dark);
            column-fill: balance;
            transform: translateY( calc( -100% ) );

            * {
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
            }

            h2 {
                width: 100%;
                column-span: all;
            }


            &:after {
                width: 4rem;
                top: auto;
                bottom: .5rem;
                left: calc( var(--large-padding) * 2 );
                clip-path: polygon(100% 0, 100% 100%, 0 100%);
                transform: translate( -50%, 50% ) rotate(45deg);
                background-color: var(--accent-color2);

            }

            &.sticky {
                position: fixed;
            }
            
            
            &.opened {
                right: auto;
                transform: translateY( 0 );

                h2, li {
                    visibility: visible;
                }
    
                &:after {
                    transform: translate( -50%, 10% ) rotate(45deg);
                }
                
            }
            &:hover:after {
                transform: translate( -50%, 50% ) rotate(45deg) scale(1.5);
            }
            &.opened:hover:after {
                transform: translate( -50%, 10% ) rotate(45deg);
            }
        }

    }

    @include for-mini {

        .mini-content {
            @include reset;
            width: 100vw;
            height: 100vh;
            transform: translate( 100%, 0 );
            inset: 0;
            transition: transform .5s ease-out, border-radius .5s ease-out;
            padding: var(--large-padding);
            
            font-size: clamp( 1.3rem, 3vw, 2rem );
            line-height: 1.3em;

            li {
                padding: var(--default-padding);
                
                &.utils {
                    margin-top: var(--large-padding);
    
                    a, button {
                        margin-right: 1em;
                        margin-top: 1rem;
                        transform: scale(1.5);
                    }

                    button[title=Zatvori] {
                        color: var(--text-color-dark);
                        display: block;
                        float: right;
                        margin-right: 0;
                        transform: scale(3);

                        &:hover {
                            color: var(--bg-color-dark);
                        }
                    }
                }
            } 
            


            &.opened {
                transform: translate( 0 );
                border-radius: 0;
                overflow: auto;
                padding-bottom: 6rem;
            }
        }

    }

}
