    $neutral-900: seashell; // seashell, papayawhip, oldlace
    $neutral-300: #5a554c;
    $neutral-100: #3a352c;
    
    $neutral-300_85: rgba( $neutral-100, .8666 );
    
    $primary: #d1ad64; // tan, burlywood
    $primary-neutral: #9e9175;
    
    $accent-primary: #da5630;
    $accent-secondary: darkseagreen; 
    $accent-primary-darker: sienna; // peru, chocolate, sienna

    $error: lime;


