@use 'forwards' as *;


:root {


    --bg-light: #{ $color-neutral-900 }; // papayawhip, oldlace
    --bg-dark: #{ $color-neutral-300_85 };
    --bg-color-light: var(--primary-color); // tan, burlywood
    --bg-color-medium: #{ $color-primary-neutral }; 
    --bg-color-dark: #{ $color-accent-primary-darker }; // peru, chocolate, sienna
    --primary-color: #{ $color-primary };
    --accent-color: #{ $color-accent-primary }; // orangered, crimson
    --accent-color2: #{ $color-accent-secondary };  // cadetblue, darkcyan, darkseagreen
    --text-color-light: var(--bg-light);
    --text-color-dark: #{ $color-neutral-100 };
    --title-color-light: var(--primary-color);
    --title-color-medium: var(--accent-color2); 
    --title-color-dark: var(--text-color-dark); 

}


@mixin for-desktop {
    @media ( min-width: $big-screen ) {
        @content;
    }
} 
@mixin for-mini {
    @media ( max-width: $tiny-screen ) {
        @content;
    }
}

@mixin reset {
    margin: 0;
    border: 0;
    padding: 0;
}
@mixin clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}



@mixin light-text-on-dark {
    color: var(--text-color-light);
    background-color: var(--bg-dark);
}
@mixin light-text-on-color {
    color: var(--text-color-light);
    background-color: var(--bg-color-dark);
}
@mixin light-text-on-medium {
    color: var(--text-color-light);
    background-color: var(--bg-color-medium);
}
@mixin light-text-on-light {
    color: var(--text-color-light);
    background-color: var(--bg-color-light);
}
@mixin light-text-on-accent {
    color: var(--text-color-light);
    background-color: var(--accent-color);
}
@mixin dark-text-on-light {
    color: var(--text-color-dark);
    background-color: var(--bg-light);
}
@mixin dark-text-on-color {
    color: var(--text-color-dark);
    background-color: var(--bg-color-medium);
}
@mixin dark-text-on-medium {
    color: var(--text-color-dark);
    background-color: var(--bg-color-medium);
}
@mixin dark-text-on-accent {
    color: var(--text-color-dark);
    background-color: var(--accent-color);
}
@mixin accent-text-on-light {
    color: var(--accent-color);
    background-color: var(--bg-light);
}
@mixin accent-text-on-color {
    color: var(--accent-color);
    background-color: var(--bg-color-light);
}
@mixin basic-padding {
    padding: var(--default-padding);
}
@mixin large-padding {
    padding: var(--large-padding);
}
@mixin outer-padding {
    padding: var(--default-padding);
    margin: 0 calc( var(--default-padding) * -1 );
}
@mixin pseudo-background {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    z-index: -1;
    pointer-events: none;
}
@mixin titles {
    font-family: var(--title-face2);
    line-height: 1.1em;
    margin-top: .5em;
}
@mixin quotes {
    font-family: var(--quote-face);
    font-size: var(--quote-size);
    line-height: 1.3em;
    font-style: italic;
}
@mixin footnotes {
    font-family: var(--caption-face);
    font-size: var(--caption-size);
    line-height: 1.3em;
    font-weight: 500;
    font-style: normal;

    li {
        margin-top: .5rem;
    }
}
@mixin captions {
    @include footnotes;
}

