$big-screen: 1500px;
$tiny-screen: 800px;


:root {

    --bg-light: seashell; // papayawhip, oldlace
    --bg-dark: #5a554cdd;
    --bg-color-light: #d1ad64; // tan, burlywood
    --bg-color-medium: #9e9175; 
    --bg-color-dark: sienna; // peru, chocolate, sienna
    --accent-color: #da5630; // orangered, crimson
    --accent-color2: darkseagreen;  // cadetblue, darkcyan, darkseagreen
    --text-color-light: var(--bg-light);
    --text-color-dark: #363626;
    --title-color-light: var(--bg-color-light);
    --title-color-medium: var(--accent-color2);
    --title-color-dark: var(--bg-color-dark);
    

    --head-face: 'Vesper Libre', serif;
    --text-face: 'Fira Sans', "Segoe UI", Verdana, Tahoma, sans-serif;
    --text-face2: 'Petrona', serif;
    --title-face: 'Nobile', Verdana, Tahoma, sans-serif;
    --title-face2: var(--head-face);
    --caption-face: var(--text-face2);
    --quote-face: var(--text-face2);
    --number-style: oldstyle-nums;
    
    --head-size: clamp(4rem, 8.666vw, 6rem);
    --title-size: clamp( 2.5rem, 5vw, 3rem);
    --text-size: clamp( 16px, 1.3vw, 18px );
    --quote-size: clamp( 20px, 1.3vw, 22px );
    --caption-size: clamp( 15px, 1.2vw, 17px );
    --chapter-no-size: clamp( 7rem, 13vmax, 11rem );/* clamp( 2rem, 3vw, 2.666rem ); */
    --subhead-size: var(--text-quote);
    --menuitem-size: clamp( 1.5rem, 3vh, 2.666rem );

    
    --default-padding: clamp( .666rem, 1.5vw, 2rem );
    --large-padding: clamp( 2rem, 3vw, 6rem);
    --max-p-width: 1000px;

    --basic-image-filter: grayscale(.8) sepia(.3) contrast(.666);
}

@mixin for-desktop {
    @media ( min-width: $big-screen ) {
        @content;
    }
} 
@mixin for-mini {
    @media ( max-width: $tiny-screen ) {
        @content;
    }
}

@mixin reset {
    margin: 0;
    border: 0;
    padding: 0;
}
@mixin clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}



@mixin light-text-on-dark {
    color: var(--text-color-light);
    background-color: var(--bg-dark);
}
@mixin light-text-on-color {
    color: var(--text-color-light);
    background-color: var(--bg-color-dark);
}
@mixin light-text-on-medium {
    color: var(--text-color-light);
    background-color: var(--bg-color-medium);
}
@mixin light-text-on-accent {
    color: var(--text-color-light);
    background-color: var(--bg-color-light);
}
@mixin dark-text-on-light {
    color: var(--text-color-dark);
    background-color: var(--bg-light);
}
@mixin dark-text-on-color {
    color: var(--text-color-dark);
    background-color: var(--bg-color-medium);
}
@mixin dark-text-on-medium {
    color: var(--text-color-dark);
    background-color: var(--bg-color-medium);
}
@mixin dark-text-on-accent {
    color: var(--text-color-dark);
    background-color: var(--accent-color);
}
@mixin accent-text-on-light {
    color: var(--accent-color);
    background-color: var(--bg-light);
}
@mixin accent-text-on-color {
    color: var(--accent-color);
    background-color: var(--bg-color-light);
}
@mixin basic-padding {
    padding: var(--default-padding);
}
@mixin large-padding {
    padding: var(--large-padding);
}
@mixin outer-padding {
    padding: var(--default-padding);
    margin: 0 calc( var(--default-padding) * -1 );
}
@mixin pseudo-background {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
@mixin titles {
    font-family: var(--title-face2);
    line-height: 1.1em;
    margin-top: .5em;
}
@mixin quotes {
    font-family: var(--quote-face);
    font-size: var(--quote-size);
    line-height: 1.3em;
    font-style: italic;
}
@mixin footnotes {
    font-family: var(--caption-face);
    font-size: var(--caption-size);
    line-height: 1.3em;
    font-weight: 500;
    font-style: normal;

    li {
        margin-top: .5rem;
    }
}
@mixin captions {
    @include footnotes;
}

