html {

    --bg-light: snow;
    --bg-dark: #334c;
    --accent-color: orangered;
    --accent-color2: aquamarine;
    --text-face: Verdana, Geneva, Tahoma, sans-serif;
    --text-light: var(--bg-light);
    --text-dark: #423;

    --default-padding: 1rem;

    background-color: var(--bg-light);
    font-family: var(--text-face);
    color: var(--text-dark);
}
html, body {
    margin: 0;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}