@charset "UTF-8";
@use 'styles/vars' as *;
@use 'styles/components';



:root {
    background-color: var(--bg-light);
    font-family: var(--text-face);
    font-weight: 400;
    font-size: var(--text-size);
    color: var(--text-color-dark);
}
.rm {
    display: none !important;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}
button, .button {
    border: 0;
    display: inline-block;
    background-color: var(--bg-color-medium);
    cursor: pointer;
}

img {
    pointer-events: none;
}
img:active {
    transform: scale(1.5);
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}




/* Članak */

article {
    padding: var(--large-padding);

    /* prijelom */

    .textContent {
        max-width: var(--max-p-width);
        margin-inline: auto;

        @include for-desktop {
            max-width: none;
        }

        #breadcrumbs + h1, h1 + h1 {
            display: none;
        }
        #breadcrumbs {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            gap: .5rem;
            padding: 0;
            margin-top: -1em;
            margin-bottom: 2em;
            
            span {
                color: var(--bg-color-light);
            }
            strong {
                font-weight: 400;
                color: var(--accent-color2);
                font-size: 1.25em;
                display: inline-block;
                transform: translate( .1em, .0666em );
            }
            li:last-of-type {
                color: var(--bg-color-medium);
            }

            @include for-desktop {
                margin: -2rem 0;
            }

            @include for-mini {
                margin-top: 1rem;
                justify-content: center;

                li {
                    background-color: var(--accent-color2);
                    padding: 2px .2rem 3px 1rem;
                    border-radius: .35em 1.5rem;
                    margin-right: 1rem;
                    transition: background-color .25s;
                    
                    span {
                        display: none;
                    }
                    strong {
                        color: var(--bg-dark);
                        transform: translateX(1.25rem) scale(1.5);
                    }
                    &:last-of-type, a {
                        color: var(--text-color-light);

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    &:hover {
                        background-color: var(--bg-color-medium);
                    }
                }
            }
        }

        display: flex;
        flex-direction: column;

        h1, #breadcrumbs {
            &, & + blockquote {
                order: 1;
            }
        }

        .gallery {
            order: 2;
        }

        * {
            order: 3;
        }

        @include for-mini {
            .gallery {
                order: 3;
            }
    
            * {
                order: 2;
            }
        }

        @include for-desktop {
            display: grid;
            grid-template-columns: 5fr 3fr;
            gap: var(--default-padding);

            grid-template-areas:
                "p1 a"
                "p2 a"
                "p3 a"
                "p4 a"
                "p5 a"
                "p6 a"
                "p7 a"
                "p8 a"
                "p9 a"
                "p10 a"
                "p11 a"
                "p12 a"
                "p13 a"
                "p14 a"
                "p15 a"
                "p16 a"
                "p17 a"
                "p18 a"
                "p19 a"
                "p20 a"
                ;
                
                @for $i from 1 through 20 {
                    & > *:not( .gallery ):nth-child( #{$i} ) {
                        grid-area: p + $i;
                    }
                }
                .gallery {
                    grid-area: a;
                }
        }

        // & > *:nth-last-child(1):not( .gallery ), & > p:last-of-type {

        //     & {
        //         @include outer-padding;
        //         position: relative;
        //         text-shadow: 0 0 .666rem var(--bg-light);
        
        //         &:before {
        //             @include pseudo-background;
        
        //             background-image: linear-gradient( #FFF0 20%, var(--bg-light) 50% );
        //             opacity: .5;
        //         }
        //     }
        // }
    }

    /* tipografija */
       
    h1 {
        font-size: var(--title-size);
        line-height: 1.2em;
        margin-bottom: .5em;
        max-width: max( 10ch, 80% );
       
        
        @include for-mini {
            text-align: center;
            max-width: 100%;
        }
    }

    h2, h3, h4, h5 {
        @include titles
    }

    h1, h3, h5 {
        font-family: var(--title-face);
    }

    h2 {
        font-size: var(--title-size);
    }
    h1 + h2 {
        margin-top: var(--large-padding);
    }
    h3, h4, h5 {
        font-size: 1.333rem;
    }
    // h5, strong {
    //     color: var(--accent-color2);
    // }

    h6 { /* Ovaj se koristi za broj poglavlja */
        @include reset;
        font-size: var(--chapter-no-size);
        font-weight: 666;
        line-height: .4em;
        color: var(--bg-color-light);
        text-align: right;
        margin-top: -.4em;
        margin-bottom: .5em;
        letter-spacing: -.05em;
        
        span {
            font-size: calc( var(--chapter-no-size) * .8 );
            margin-left: -.2em;
            color: var(--bg-color-medium);
            letter-spacing: -.02em;
        }
        
        @include for-mini {
            font-size: calc( var(--chapter-no-size) / 2 );
            margin-top: .3em;
            text-align: center;
            opacity: 1;

            span {
                font-size: calc( var(--chapter-no-size) / 2.3 );
                letter-spacing: .05em;
                margin-left: -.2em;
                color: var(--bg-color-medium);
            }
        }
        
        @include for-desktop {
            width: 87%;
            opacity: .8;

            margin-top: -.5rem;
            margin-bottom: 1.5rem;
        }
    }

    a {
        font-variant: small-caps;

        &:hover {
            text-decoration: underline;
            text-decoration-color: var(--accent-color2);
            // text-decoration-thickness: 2px;
        }

        &.footnote-ref, &.footnote-backref {
            font-variant: normal;
            font-weight: bold;
            font-size: .8em;
            color: var(--bg-color-dark);
            display: inline-block;
            width: 1em;
            height: 1em;
            margin-right: -.35rem;
        }
        &.footnote-backref {
            font-size: .666em;
            color: var(--bg-color-medium);
            margin-left: .25em;
        }

        // &::selection {
        //     background-color: var(--accent-color);
        //     color: var(--text-color-light);
        // }
    }

    blockquote {
        @include quotes;
        margin: 1rem 0;
        position: relative;

        &:before {
            content: '\201C';
            display: block;
            // font-family: var(--text-face);
            font-size: var(--title-size);
            position: absolute;
            color: var(--accent-color2);
            top: -.2em;
            line-height: 1em;
            left: -.45em;
        }
    }

    .footnotes {
        @include outer-padding;
        @include footnotes;
        margin-left: calc( var(--large-padding) * -1 );
        position: relative;

        &:before {
            @include pseudo-background;

            background-color: var(--bg-light);
            opacity: .4;
        }

        hr {
            width: var(--large-padding);
            border-color: var(--bg-dark);
            border-width: 0;
            border-top-width: 1px;
            display: block;
            float: left;
            opacity: .666;
        }

        ol, ul {
            clear: both;

            li {
                counter-increment: foot;
            }

            li::marker {
                content: counter(foot) '\2001';
                font-size: .95em;
                font-weight: 800;
            }
        }

    }

    

    #bgImage {
        content: "";
        display: block;
        --vignette: calc( var(--large-padding) * 2 );
        width: calc( 100% + var(--vignette) );
        height: 100%;
        position: fixed;
        z-index: -10;
        top: 100%;
        left: 50%;
        transform: translate(-50%);
        box-shadow: var(--large-padding) var(--vignette) var(--vignette) var(--bg-light) inset;
        background-image: linear-gradient( var(--vignette-angle), var(--bg-light) 0%, #FFF0 50%, var(--bg-light) 98%), var(--background-image);
        background-repeat: no-repeat, no-repeat;
        background-size: cover;
        background-position: 50% 100%, ;
        opacity: var(--opacity);
        filter: contrast(3) contrast(.9);
        mix-blend-mode: luminosity;
    }
}

/* Footer */

footer {
    @include light-text-on-dark;
    padding: var(--default-padding) var(--large-padding);

    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 4rem;


    p:first-of-type {
        flex-grow: .5;
        flex-basis: 50vw;
    }

    .logo {
        margin: -1rem 0 calc( var(--default-padding) * -1 );
        flex-grow: .1;
        transition: .25s;
        &:hover {
            transform: scale(1.1);
        }
    }
    
    a:hover {
        transition: .25s;
        color: var(--primary-color);
    }
    
    img {
        max-height: 100%;

    }
}


/* global style  */

html, body, p, h1, h2, h3, h4, h5, h6, blockquote, figure, li {
    @include reset;

    &:nth-of-type(2n + 1) {

        &::selection, & *::selection {
            color: var(--text-color-light);
            background-color: var(--accent-color);
        }
    }
    &:nth-of-type(2n), figcaption {

        &::selection, & *::selection {
            color: var(--text-color-dark);
            background-color: var(--accent-color2);
        }
    }
}