@charset "UTF-8";
:root {
  --bg-light: seashell;
  --bg-dark: #5a554cdd;
  --bg-color-medium: #9e9175;
  --bg-color-light: var(--accent-color) ;
  --accent-color: #d1ad64;
  --accent-color2: darkseagreen;
  --accent-color3: #da5630;
  --text-color-light: var(--bg-light);
  --text-color-dark: #363626;
  --head-face: "Petrona", serif;
  --text-face: "Fira Sans", "Segoe UI", Verdana, Tahoma, sans-serif;
  --text-face2: "Vesper Libre", serif;
  --title-face: "Nobile", Verdana, Tahoma, sans-serif;
  --title-face2: var(--text-face2);
  --caption-face: var(--text-face2);
  --quote-face: var(--text-face2);
  --number-style: oldstyle-nums;
  --head-size: clamp(4rem, 6vw, 6rem);
  --title-size: clamp( 2.5rem, 5vw, 3rem);
  --text-size: clamp( 15px, 1.3vw, 18px );
  --quote-size: clamp( 20px, 1.3vw, 24px );
  --caption-size: clamp( 14px, 1.1vw, 16px );
  --chapter-no-size: clamp( 7rem, 13vmax, 11rem );
  /* clamp( 2rem, 3vw, 2.666rem ); */
  --subhead-size: var(--text-quote);
  --menuitem-size: clamp( 1.5rem, 3vh, 2.666rem );
  --default-padding: clamp( .666rem, 1.5vw, 2rem );
  --large-padding: clamp( 2rem, 3vw, 6rem);
}

:root {
  background-color: var(--bg-light);
  font-family: var(--text-face);
  font-weight: 400;
  font-size: var(--text-size);
  line-height: 1.4em;
  color: var(--text-color-dark);
  font-variant-numeric: var(--number-style);
}

* {
  box-sizing: border-box;
}

.rm {
  display: none !important;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

button {
  border: 0;
  display: inline-block;
  background-color: var(--bg-color-medium);
  cursor: pointer;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* zaglavlje */
header {
  padding: var(--large-padding);
  padding-top: min(var(--large-padding) * 6.66, 20vh);
  background-color: var(--bg-dark);
}
@media (max-width: 600px) {
  header {
    padding: 0;
    padding-top: 13vh;
  }
}
header h1 {
  font-family: var(--head-face);
  font-size: var(--head-size);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  line-height: 0.8em;
  letter-spacing: 0.01em;
  padding: max(var(--default-padding), 1rem) var(--large-padding);
  display: inline-block;
}
header h1 div {
  font-size: 0.63em;
  border-bottom: 0.0666em solid currentColor;
  padding-bottom: 0.0666em;
}
header h1 a {
  color: inherit;
}
@media (max-width: 600px) {
  header h1 {
    display: block;
  }
  header h1 div {
    display: inline-block;
    padding-bottom: 0;
    border-bottom: none;
    line-height: 1;
  }
}
header.moj h1 {
  font-family: var(--text-face2);
  font-size: calc( var(--head-size) * .9 );
  padding: 2.5vmax var(--large-padding) var(--default-padding);
}

#menuButton {
  margin: 0;
  border: 0;
  padding: 0;
  position: fixed;
  top: var(--large-padding);
  right: var(--large-padding);
  width: 3rem;
  height: 3rem;
  padding: var(--default-padding);
  text-align: center;
  transition: background-color 0.5s, border-radius 1s;
  z-index: 1000;
  cursor: pointer;
  background-color: var(--bg-dark);
  color: var(--text-color-light);
}
#menuButton:hover, #menuButton.active {
  background-color: var(--bg-color-medium);
}
#menuButton.active {
  border-radius: 50%;
}
#menuButton.active:hover {
  background-color: var(--accent-color);
  color: var(--text-color-light);
}
@media (max-width: 600px) {
  #menuButton {
    background-color: var(--accent-color2);
    width: 100%;
    height: 3rem;
    top: auto;
    bottom: 0;
    right: 0;
  }
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: calc( var(--large-padding) / 2 );
  padding-top: calc( var(--large-padding) * 2.333 );
  box-sizing: border-box;
  background-color: var(--bg-dark);
  z-index: 900;
  font-size: var(--menuitem-size);
  line-height: 1em;
}
#menu a {
  color: inherit;
}
#menu ul {
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
#menu ul li {
  list-style: none;
  position: relative;
  margin-right: 0.2rem;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.1s;
  background-color: var(--bg-light);
  color: var(--text-color-dark);
}
#menu ul li li {
  background-color: var(--bg-light);
  color: var(--text-color-dark);
  padding-left: var(--large-padding);
}
#menu ul li li:hover {
  background-color: var(--bg-color-medium);
  color: var(--text-color-light);
}
#menu ul li a {
  display: block;
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  height: 100%;
}
#menu ul li a button {
  margin: 0;
  border: 0;
  padding: 0;
  text-indent: -9999px;
  width: 2em;
  height: 100%;
  position: relative;
  background-color: transparent;
}
#menu ul li a button:after {
  content: "";
  border-color: var(--bg-color-medium);
  border-width: 0 2px 2px 0;
  border-style: solid;
  display: block;
  width: 0.85em;
  height: 0.85em;
  margin-left: -0.666em;
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-70%, -70%) rotate(-45deg);
  transition: transform 0.5s;
}
#menu ul li a button:hover:after {
  border-color: var(--text-color-light);
}
#menu ul li a button.submenuOpen:after {
  transform: translate(-50%, -50%) rotate(45deg);
}
#menu ul li:hover {
  background-color: var(--accent-color);
  color: var(--text-color-light);
}
#menu ul li.active {
  background-color: var(--bg-light);
  color: var(--text-color-dark);
}
#menu ul li.active.current {
  font-weight: 800;
  cursor: default;
}
#menu ul li.active.current li {
  font-weight: 400;
}
#menu ul li.active > a {
  border-left: 0.25em solid var(--accent-color);
}
#menu ul li.active > a button:hover:after {
  border-color: var(--text-color-dark);
}
#menu ul li.active li {
  padding-left: var(--large-padding);
}
#menu ul li.active li.active:hover {
  background-color: var(--bg-color-light);
  color: var(--text-color-dark);
}
@media (max-width: 600px) {
  #menu {
    padding: 0;
    padding-top: calc( var(--large-padding) * 2.333 );
    background-color: var(--bg-color-light);
  }
}

/* Članak */
article {
  padding: var(--large-padding);
}
article h1 {
  font-size: var(--title-size);
  line-height: 1em;
  margin-bottom: 0.5em;
}
@media (max-width: 600px) {
  article h1 {
    text-align: center;
  }
}
article h2, article h3, article h4, article h5 {
  font-family: var(--title-face2);
  line-height: 1.3em;
  margin-top: 0.5em;
}
article h1, article h3, article h5 {
  font-family: var(--title-face);
}
article h2 {
  font-size: var(--title-size);
}
article h1 + h2 {
  margin-top: var(--large-padding);
}
article h6 {
  /* Ovaj se koristi za broj poglavlja */
  margin: 0;
  border: 0;
  padding: 0;
  font-size: var(--chapter-no-size);
  font-weight: 666;
  line-height: 0.3em;
  color: var(--bg-color-medium);
  text-align: right;
  margin-top: -0.5em;
  margin-bottom: 0.5em;
  letter-spacing: -0.02em;
}
article h6::first-letter {
  color: var(--accent-color);
}
@media (max-width: 600px) {
  article h6 {
    font-size: calc( var(--chapter-no-size) / 2 );
    margin-top: 0.3em;
    text-align: center;
    opacity: 1;
  }
}
@media (min-width: 1400px) {
  article h6 {
    width: 60%;
    opacity: 0.8;
  }
}
article .textContent {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.7em 5rem;
  grid-template-areas: "h1 ." "p1 p1" "a  a" "p2 p2" "p3 p3" "p4 p4" "p5 p5" "p6 p6" "p7 p7" "p8 p8" "p9 p9" "p10 p10" "p11 p11" "p12 p12" "p13 p13" "p14 p14" "p15 p15";
}
article .textContent h1 {
  grid-area: h1;
}
article .textContent > *:not(.gallery):nth-child(1) {
  grid-area: p1;
}
article .textContent > *:not(.gallery):nth-child(2) {
  grid-area: p2;
}
article .textContent > *:not(.gallery):nth-child(3) {
  grid-area: p3;
}
article .textContent > *:not(.gallery):nth-child(4) {
  grid-area: p4;
}
article .textContent > *:not(.gallery):nth-child(5) {
  grid-area: p5;
}
article .textContent > *:not(.gallery):nth-child(6) {
  grid-area: p6;
}
article .textContent > *:not(.gallery):nth-child(7) {
  grid-area: p7;
}
article .textContent > *:not(.gallery):nth-child(8) {
  grid-area: p8;
}
article .textContent > *:not(.gallery):nth-child(9) {
  grid-area: p9;
}
article .textContent > *:not(.gallery):nth-child(10) {
  grid-area: p10;
}
article .textContent > *:not(.gallery):nth-child(11) {
  grid-area: p11;
}
article .textContent > *:not(.gallery):nth-child(12) {
  grid-area: p12;
}
article .textContent > *:not(.gallery):nth-child(13) {
  grid-area: p13;
}
article .textContent > *:not(.gallery):nth-child(14) {
  grid-area: p14;
}
article .textContent > *:not(.gallery):nth-child(15) {
  grid-area: p15;
}
article .textContent .gallery {
  grid-area: a;
}
article .textContent blockquote {
  font-family: var(--quote-face);
  font-size: var(--quote-size);
  line-height: 1.3em;
  font-style: italic;
  margin: 1rem 0;
  position: relative;
}
article .textContent blockquote:before {
  content: "“";
  display: block;
  font-size: var(--title-size);
  position: absolute;
  color: var(--accent-color);
  top: -0.2em;
  line-height: 1em;
  left: -0.45em;
}
article .textContent figure {
  transition: opacity 0.3s;
}
article .textContent figure div {
  overflow: hidden;
  cursor: none;
  position: relative;
}
article .textContent figure div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  pointer-events: none;
  filter: grayscale(0.8) sepia(0.3) contrast(0.666);
}
article .textContent figure figcaption {
  font-family: var(--caption-face);
  font-size: var(--caption-size);
  line-height: 1.3em;
  font-weight: 500;
  font-style: normal;
}
article .textContent figure figcaption li {
  margin-top: 0.5rem;
}
article .textContent figure figcaption .short {
  display: inline;
}
article .textContent figure figcaption .long {
  display: none;
}
article .textContent figure.lightboxtime {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  top: 50%;
  left: 50%;
  background-color: var(--bg-dark);
  -webkit-animation: zoom 0.5s forwards;
          animation: zoom 0.5s forwards;
  z-index: 9000;
  display: flex;
  flex-direction: column;
}
article .textContent figure.lightboxtime div {
  flex-grow: 1;
  display: grid;
  place-items: center;
  padding: 1rem 0;
}
article .textContent figure.lightboxtime img {
  display: block;
  width: 80%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  filter: grayscale(0.2) contrast(0.7);
}
article .textContent figure.lightboxtime figcaption {
  padding: var(--default-padding);
  padding-bottom: 2em;
  background-color: var(--bg-dark);
  color: var(--text-color-light);
  text-align: center;
}
article .textContent figure.lightboxtime figcaption .short {
  display: none;
}
article .textContent figure.lightboxtime figcaption .long {
  display: inline;
  font-size: var(--quote-size);
}
@-webkit-keyframes zoom {
  0% {
    transform: translate(-50%, -50%) scale(0.25);
    opacity: 0.85;
  }
  100% {
    top: 0;
    left: 0;
    transform: none;
    opacity: 1;
  }
}
@keyframes zoom {
  0% {
    transform: translate(-50%, -50%) scale(0.25);
    opacity: 0.85;
  }
  100% {
    top: 0;
    left: 0;
    transform: none;
    opacity: 1;
  }
}
article .textContent .showbox {
  display: flex;
  margin: var(--default-padding) 0 var(--large-padding);
  justify-content: center;
}
article .textContent .showbox figure {
  background-color: var(--bg-light);
  color: var(--text-color-dark);
  max-width: 800px;
  padding: min(var(--default-padding), 1rem);
  padding-bottom: 0;
  box-shadow: 0.05rem 0.2rem 0.25rem #3333;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
article .textContent .showbox figure.lightboxtime {
  background-color: var(--bg-dark);
  color: var(--text-color-light);
  max-width: none;
  border-top: 0.5rem solid var(--accent-color);
}
article .textContent .showbox figure div {
  flex-grow: 1;
}
article .textContent .showbox figure figcaption {
  padding: var(--default-padding) 0;
}
article .textContent .showbox.for2 figure {
  max-width: 50%;
}
article .textContent .showbox.for3 figure {
  max-width: 33%;
}
article .textContent .showbox.for4 figure {
  max-width: 25%;
}
article .textContent .showbox.for5 figure {
  max-width: 20%;
}
@media (min-width: 1400px) {
  article .textContent {
    grid-template-areas: "h1 ." "p1 a" "p2 a" "p3 a" "p4 a" "p5 a" "p6 a" "p7 a" "p8 a" "p9 a" "p10 a" "p11 a" "p12 a" "p13 a" "p14 a" "p15 a";
  }
}
@media (max-width: 600px) {
  article .textContent {
    grid-template-areas: "h1 h1" "p1 p1" "p2 p2" "p3 p3" "p4 p4" "p5 p5" "p6 p6" "p7 p7" "p8 p8" "p9 p9" "p10 p10" "p11 p11" "p12 p12" "p13 p13" "p14 p14" "p15 p15" "a  a";
  }
}
article .textContent > *:nth-last-child(1):not(.gallery), article .textContent > p:last-of-type {
  padding: var(--default-padding);
  margin: 0 calc( var(--default-padding) * -1 );
  position: relative;
  text-shadow: 0 0 0.666rem var(--bg-light);
}
article .textContent > *:nth-last-child(1):not(.gallery):before, article .textContent > p:last-of-type:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(#FFF0 20%, var(--bg-light) 50%);
  opacity: 0.5;
}
article .textContent a {
  font-variant: small-caps;
}
article .textContent a:hover {
  text-decoration: underline;
}
article .textContent a.footnote-ref, article .textContent a.footnote-backref {
  font-variant: normal;
  font-weight: bold;
  font-size: 0.8em;
  color: var(--accent-color);
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: -0.35rem;
}
article .textContent a.footnote-backref {
  font-size: 0.666em;
  color: var(--accent-color2);
}
article .textContent .footnotes {
  padding: var(--default-padding);
  margin: 0 calc( var(--default-padding) * -1 );
  font-family: var(--caption-face);
  font-size: var(--caption-size);
  line-height: 1.3em;
  font-weight: 500;
  font-style: normal;
  margin-left: calc( var(--large-padding) * -1 );
  position: relative;
}
article .textContent .footnotes li {
  margin-top: 0.5rem;
}
article .textContent .footnotes:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: var(--bg-light);
  opacity: 0.4;
}
article .textContent .footnotes hr {
  width: var(--large-padding);
  border-color: var(--bg-dark);
  border-width: 0;
  border-top-width: 1px;
  display: block;
  float: left;
  opacity: 0.666;
}
article .textContent .footnotes ol, article .textContent .footnotes ul {
  clear: both;
}
article .textContent .footnotes ol li, article .textContent .footnotes ul li {
  counter-increment: foot;
}
article .textContent .footnotes ol li::marker, article .textContent .footnotes ul li::marker {
  content: counter(foot) " ";
  font-size: 0.95em;
  font-weight: 800;
}
article #bgImage {
  content: "";
  display: block;
  --vignette: calc( var(--large-padding) * 2 );
  width: calc( 100% + var(--vignette) );
  height: 100%;
  position: fixed;
  z-index: -10;
  top: 100%;
  left: calc( 50% - var(--vignette) / 2 );
  transform: translate(-50%);
  box-shadow: var(--large-padding) var(--vignette) var(--vignette) var(--bg-light) inset;
  background-image: linear-gradient(var(--vignette-angle), var(--bg-light) 0%, #FFF0 50%, var(--bg-light) 98%), var(--background-image);
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
  background-position: 50% 100%;
  opacity: 0.2;
  filter: contrast(4) contrast(0.95);
  mix-blend-mode: luminosity;
}

/*  Galerija */
.gallery {
  display: flex;
  gap: 0.5rem;
  margin: 0;
}
.gallery h2 {
  display: none;
}
.gallery figure {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 0.5rem solid var(--accent-color);
  margin: 0;
}
.gallery figure div {
  flex-grow: 1;
  overflow: hidden;
}
.gallery figure div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery figure figcaption {
  padding: 1rem;
  width: 100%;
  background-color: var(--accent-color);
  color: var(--text-color-light);
}
@media (min-width: 1400px) {
  .gallery {
    flex-direction: column;
  }
  .gallery figure {
    max-width: 300px;
  }
}
@media (max-width: 600px) {
  .gallery {
    flex-direction: column;
  }
  .gallery h2 {
    display: block;
  }
}

/* Footer */
footer {
  background-color: var(--bg-dark);
  color: var(--text-color-light);
  padding: var(--default-padding) var(--large-padding);
}

/* global style  */
html, body, p, h1, h2, h3, h4, h5, h6, blockquote, figure, li {
  margin: 0;
  border: 0;
  padding: 0;
}
html:nth-of-type(2n + 1)::-moz-selection, html:nth-of-type(2n + 1) *::-moz-selection, body:nth-of-type(2n + 1)::-moz-selection, body:nth-of-type(2n + 1) *::-moz-selection, p:nth-of-type(2n + 1)::-moz-selection, p:nth-of-type(2n + 1) *::-moz-selection, h1:nth-of-type(2n + 1)::-moz-selection, h1:nth-of-type(2n + 1) *::-moz-selection, h2:nth-of-type(2n + 1)::-moz-selection, h2:nth-of-type(2n + 1) *::-moz-selection, h3:nth-of-type(2n + 1)::-moz-selection, h3:nth-of-type(2n + 1) *::-moz-selection, h4:nth-of-type(2n + 1)::-moz-selection, h4:nth-of-type(2n + 1) *::-moz-selection, h5:nth-of-type(2n + 1)::-moz-selection, h5:nth-of-type(2n + 1) *::-moz-selection, h6:nth-of-type(2n + 1)::-moz-selection, h6:nth-of-type(2n + 1) *::-moz-selection, blockquote:nth-of-type(2n + 1)::-moz-selection, blockquote:nth-of-type(2n + 1) *::-moz-selection, figure:nth-of-type(2n + 1)::-moz-selection, figure:nth-of-type(2n + 1) *::-moz-selection, li:nth-of-type(2n + 1)::-moz-selection, li:nth-of-type(2n + 1) *::-moz-selection {
  color: var(--text-color-light);
  background-color: var(--accent-color);
}
html:nth-of-type(2n + 1)::selection, html:nth-of-type(2n + 1) *::selection, body:nth-of-type(2n + 1)::selection, body:nth-of-type(2n + 1) *::selection, p:nth-of-type(2n + 1)::selection, p:nth-of-type(2n + 1) *::selection, h1:nth-of-type(2n + 1)::selection, h1:nth-of-type(2n + 1) *::selection, h2:nth-of-type(2n + 1)::selection, h2:nth-of-type(2n + 1) *::selection, h3:nth-of-type(2n + 1)::selection, h3:nth-of-type(2n + 1) *::selection, h4:nth-of-type(2n + 1)::selection, h4:nth-of-type(2n + 1) *::selection, h5:nth-of-type(2n + 1)::selection, h5:nth-of-type(2n + 1) *::selection, h6:nth-of-type(2n + 1)::selection, h6:nth-of-type(2n + 1) *::selection, blockquote:nth-of-type(2n + 1)::selection, blockquote:nth-of-type(2n + 1) *::selection, figure:nth-of-type(2n + 1)::selection, figure:nth-of-type(2n + 1) *::selection, li:nth-of-type(2n + 1)::selection, li:nth-of-type(2n + 1) *::selection {
  color: var(--text-color-light);
  background-color: var(--accent-color);
}
html:nth-of-type(2n)::-moz-selection, html:nth-of-type(2n) *::-moz-selection, html figcaption::-moz-selection, html figcaption *::-moz-selection, body:nth-of-type(2n)::-moz-selection, body:nth-of-type(2n) *::-moz-selection, body figcaption::-moz-selection, body figcaption *::-moz-selection, p:nth-of-type(2n)::-moz-selection, p:nth-of-type(2n) *::-moz-selection, p figcaption::-moz-selection, p figcaption *::-moz-selection, h1:nth-of-type(2n)::-moz-selection, h1:nth-of-type(2n) *::-moz-selection, h1 figcaption::-moz-selection, h1 figcaption *::-moz-selection, h2:nth-of-type(2n)::-moz-selection, h2:nth-of-type(2n) *::-moz-selection, h2 figcaption::-moz-selection, h2 figcaption *::-moz-selection, h3:nth-of-type(2n)::-moz-selection, h3:nth-of-type(2n) *::-moz-selection, h3 figcaption::-moz-selection, h3 figcaption *::-moz-selection, h4:nth-of-type(2n)::-moz-selection, h4:nth-of-type(2n) *::-moz-selection, h4 figcaption::-moz-selection, h4 figcaption *::-moz-selection, h5:nth-of-type(2n)::-moz-selection, h5:nth-of-type(2n) *::-moz-selection, h5 figcaption::-moz-selection, h5 figcaption *::-moz-selection, h6:nth-of-type(2n)::-moz-selection, h6:nth-of-type(2n) *::-moz-selection, h6 figcaption::-moz-selection, h6 figcaption *::-moz-selection, blockquote:nth-of-type(2n)::-moz-selection, blockquote:nth-of-type(2n) *::-moz-selection, blockquote figcaption::-moz-selection, blockquote figcaption *::-moz-selection, figure:nth-of-type(2n)::-moz-selection, figure:nth-of-type(2n) *::-moz-selection, figure figcaption::-moz-selection, figure figcaption *::-moz-selection, li:nth-of-type(2n)::-moz-selection, li:nth-of-type(2n) *::-moz-selection, li figcaption::-moz-selection, li figcaption *::-moz-selection {
  color: var(--text-color-light);
  background-color: var(--accent-color2);
}
html:nth-of-type(2n)::selection, html:nth-of-type(2n) *::selection, html figcaption::selection, html figcaption *::selection, body:nth-of-type(2n)::selection, body:nth-of-type(2n) *::selection, body figcaption::selection, body figcaption *::selection, p:nth-of-type(2n)::selection, p:nth-of-type(2n) *::selection, p figcaption::selection, p figcaption *::selection, h1:nth-of-type(2n)::selection, h1:nth-of-type(2n) *::selection, h1 figcaption::selection, h1 figcaption *::selection, h2:nth-of-type(2n)::selection, h2:nth-of-type(2n) *::selection, h2 figcaption::selection, h2 figcaption *::selection, h3:nth-of-type(2n)::selection, h3:nth-of-type(2n) *::selection, h3 figcaption::selection, h3 figcaption *::selection, h4:nth-of-type(2n)::selection, h4:nth-of-type(2n) *::selection, h4 figcaption::selection, h4 figcaption *::selection, h5:nth-of-type(2n)::selection, h5:nth-of-type(2n) *::selection, h5 figcaption::selection, h5 figcaption *::selection, h6:nth-of-type(2n)::selection, h6:nth-of-type(2n) *::selection, h6 figcaption::selection, h6 figcaption *::selection, blockquote:nth-of-type(2n)::selection, blockquote:nth-of-type(2n) *::selection, blockquote figcaption::selection, blockquote figcaption *::selection, figure:nth-of-type(2n)::selection, figure:nth-of-type(2n) *::selection, figure figcaption::selection, figure figcaption *::selection, li:nth-of-type(2n)::selection, li:nth-of-type(2n) *::selection, li figcaption::selection, li figcaption *::selection {
  color: var(--text-color-light);
  background-color: var(--accent-color2);
}/*# sourceMappingURL=app.css.map */