@charset "UTF-8";
@use 'styles/vars' as *;


:root {
    background-color: var(--bg-light);
    font-family: var(--text-face);
    font-weight: 400;
    font-size: var(--text-size);
    line-height: 1.4em;
    color: var(--text-color-dark);
    font-variant-numeric: var(--number-style);
}
* {
    box-sizing: border-box;
}
.rm {
    display: none !important;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}
button {
    border: 0;
    display: inline-block;
    background-color: var(--bg-color-medium);
    cursor: pointer;
}

#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* zaglavlje */

header {
    padding: var(--large-padding);
    padding-top: min( var(--large-padding) * 6.66, 20vh );
    background-color: var(--bg-dark);

    @include for-mini {
        padding: 0;
        padding-top: 13vh;
    }
    
    h1 {
        font-family: var(--head-face);
        font-size: var(--head-size);
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        background-color: var(--bg-color-light);
        color: var(--text-color-light);
        line-height: .8em;
        letter-spacing: .01em;
        padding: max( var(--default-padding), 1rem ) var(--large-padding);
        display: inline-block;


        div {
            font-size: .63em;
            border-bottom: .0666em solid currentColor;
            padding-bottom: .0666em;
        }
        
        a {
            color: inherit;
            
            //     & span {
            //         color: var(--accent-color);
            //         font-size: 1.2em;
            //     }
            //     & span:first-of-type {
            //         margin-left: -.05em;
            //         margin-right: 0.01em;
            //     }
            //     & span:nth-of-type(2) {
            //         margin-left: -.01em;
            //         margin-right: 0.0¸1em;
            //     }
            //     & span:nth-of-type(3) {
            //         margin-left: -.00em;
            //         margin-right: 0.01em;
            //     }
        }
        
        @include for-mini {
            display: block;

            div {
                display: inline-block;
                padding-bottom: 0;
                border-bottom: none;
                line-height: 1;
            }
        }
    }

    &.moj h1 {
        font-family: var(--text-face2);
        font-size: calc( var(--head-size) * .9 );
        padding: 2.5vmax var(--large-padding) var(--default-padding);
    }

}

#menuButton {
    @include reset;
    position: fixed;
    top: var(--large-padding);
    right: var(--large-padding);
    width: 3rem;
    height: 3rem;
    padding: var(--default-padding);
    text-align: center;
    transition: background-color .5s, border-radius 1s;
    z-index: 1000;
    cursor: pointer;
    @include light-text-on-dark;

    &:hover, &.active {
        background-color: var(--bg-color-medium);
    }
    &.active {
        border-radius: 50%;
    }
    &.active:hover {
        @include light-text-on-accent
    }

    @include for-mini {
        background-color: var(--accent-color2);
        width: 100%;
        height: 3rem;
        top: auto;
        bottom: 0;
        right: 0;
    }
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: calc( var(--large-padding) / 2 );
    padding-top: calc( var(--large-padding) * 2.333 );
    box-sizing: border-box;
    background-color: var(--bg-dark);
    z-index: 900;
    font-size: var(--menuitem-size);
    line-height: 1em;


    a {
        color: inherit;
    }

    ul {
        @include reset;
        display: flex;
        flex-direction: column;

        li {
            list-style: none;
            position: relative;
            margin-right: .2rem;
            margin: 0;
            padding: 0;
            transition: background-color .3s, color .1s;
            @include dark-text-on-light;


            li {
                @include dark-text-on-light;
                padding-left: var(--large-padding);

                &:hover {
                    @include light-text-on-color;
                }
            }
            a {
                display: block;
                box-sizing: border-box;
                padding: 1em;
                width: 100%;
                height: 100%;

                button {
                    @include reset;

                    text-indent: -9999px;
                    width: 2em;
                    height: 100%;
                    position: relative;
                    background-color: transparent;

                    &:after {
                        content: '';
                        border-color: var(--bg-color-medium);
                        border-width: 0 2px 2px 0;
                        border-style: solid;
                        display: block;
                        width: .85em;
                        height: .85em;
                        margin-left: -.666em;
                        position: absolute;
                        top: 40%;
                        left: 60%;
                        transform: translate(-70%, -70%) rotate(-45deg);
                        transition: transform .5s;

                    }
                    &:hover:after {
                        border-color: var(--text-color-light);
                    }

                    &.submenuOpen:after {
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                }
            }
        }
        li:hover {
            @include light-text-on-accent;
        }
        li.active {
            @include dark-text-on-light;

            &.current {
                font-weight: 800;
                cursor: default;

                li {
                    font-weight: 400;
                }
            }

            & > a {
                border-left: .25em solid var(--accent-color);

                button:hover:after {
                    border-color: var(--text-color-dark);
                }
            }
            li {
                padding-left: var(--large-padding);

                &.active:hover {
                    @include dark-text-on-color;
                }
            }

        }



    }

    @include for-mini {
        padding: 0;
        padding-top: calc( var(--large-padding) * 2.333 );
        background-color: var(--bg-color-light);

    }
}


/* Članak */

article {
    padding: var(--large-padding);
       
    h1 {
        font-size: var(--title-size);
        line-height: 1em;
        margin-bottom: .5em;
        
        
        @include for-mini {
            text-align: center;
        }
    }

    h2, h3, h4, h5 {
        @include titles
    }

    h1, h3, h5 {
        font-family: var(--title-face);
    }

    h2 {
        font-size: var(--title-size);
    }
    h1 + h2 {
        margin-top: var(--large-padding);
    }

    h6 { /* Ovaj se koristi za broj poglavlja */
        @include reset;
        font-size: var(--chapter-no-size);
        font-weight: 666;
        line-height: .3em;
        color: var(--bg-color-medium);
        text-align: right;
        margin-top: -.5em;
        margin-bottom: .5em;
        letter-spacing: -.02em;

        &::first-letter {
            color: var(--accent-color);
        }
        
        @include for-mini {
            font-size: calc( var(--chapter-no-size) / 2 );
            margin-top: .3em;
            text-align: center;
            opacity: 1;
        }
        
        @include for-desktop {
            width: 60%;
            opacity: .8;
        }
    }

    .textContent {

        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 0.7em 5rem;
        grid-template-areas:
            "h1 ."
            "p1 p1"
            "a  a"
            "p2 p2"
            "p3 p3"
            "p4 p4"
            "p5 p5"
            "p6 p6"
            "p7 p7"
            "p8 p8"
            "p9 p9"
            "p10 p10"
            "p11 p11"
            "p12 p12"
            "p13 p13"
            "p14 p14"
            "p15 p15";

        h1 {
            grid-area: h1;
        }
        @for $i from 1 through 15 {
            & > *:not( .gallery ):nth-child( #{$i} ) {
                grid-area: p + $i;
            }
        }
        .gallery {
            grid-area: a;
        }

        blockquote {
            @include quotes;
            margin: 1rem 0;
            position: relative;

            &:before {
                content: '\201C';
                display: block;
                // font-family: var(--text-face);
                font-size: var(--title-size);
                position: absolute;
                color: var(--accent-color);
                top: -.2em;
                line-height: 1em;
                left: -.45em;
            }
        }

        figure {
            // animation: shrink .3s forwards;
            transition: opacity .3s;
    
            // @keyframes shrink {
            //     0% { opacity: .85; transform: translate(-50%, -50%) scale(.5); top: 50%; left: 50%; }
            //     99% { position: fixed;  }
            //     100% { position: static; top: 0; left: 0; opacity: 1; z-index: 1; max-width: 100%; }
            // }
            div {
                overflow: hidden;
                cursor: none;
                position: relative;
        
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    max-width: 100%;
                    pointer-events: none;
                    filter: grayscale(.8) sepia(.3) contrast(.666);
                }
            }

            figcaption {
                @include captions;
                .short {
                    display: inline;
                }
                .long {
                    display: none;
                }
            }
    
            &.lightboxtime {
                
                position: fixed; 
                width: 100%;
                height: 100%;
                max-width: 100% !important;
                top: 50%; 
                left: 50%; 
                background-color: var(--bg-dark);
                
                animation: zoom .5s forwards;
                z-index: 9000;
                
                display: flex;
                flex-direction: column;

   
                div {
                    flex-grow: 1;
                    display: grid;
                    place-items: center;
                    padding: 1rem 0;
                }
    
                img {
                    display: block;
                    width: 80%;
                    height: 100%;
                    object-fit: contain;
                    filter: grayscale(.2) contrast(.7);
                }


                figcaption {
                    @include basic-padding;
                    padding-bottom: 2em;
                    @include light-text-on-dark;
                    text-align: center;
                    
                    .short {
                        display: none;
                    }
                    .long {
                        display: inline;
                        font-size: var(--quote-size);
                    }
                }
    
                @keyframes zoom {
                    0% { transform: translate(-50%, -50%) scale(.25); opacity: .85; }
                    100% { 
                        top: 0; left: 0;
                        transform: none;
                        opacity: 1;  
                    }
                }
                
            }
    
        }

        .showbox {
            display: flex;
            margin: var(--default-padding) 0 var(--large-padding);
            justify-content: center;
            
            
            figure {
                @include dark-text-on-light;
                max-width: 800px;
                padding:  min( var(--default-padding), 1rem);
                padding-bottom: 0;
                box-shadow: .05rem .2rem .25rem #3333;
                margin-right: 1rem;
                display: flex;
                flex-direction: column;
                flex: 1;
                
                &.lightboxtime {
                    @include light-text-on-dark;
                    max-width: none;
                    border-top: .5rem solid var(--accent-color);
                }

                div {
                    flex-grow: 1;
                }

            
                figcaption {
                    padding: var(--default-padding) 0;
                }
            }

            &.for2 figure {
                max-width: 50%;
            }
            &.for3 figure {
                max-width: 33%;
            }
            &.for4 figure {
                max-width: 25%;
            }
            &.for5 figure {
                max-width: 20%;
            }
        }

    


        @include for-desktop {

            grid-template-areas:
                "h1 ."
                "p1 a"
                "p2 a"
                "p3 a"
                "p4 a"
                "p5 a"
                "p6 a"
                "p7 a"
                "p8 a"
                "p9 a"
                "p10 a"
                "p11 a"
                "p12 a"
                "p13 a"
                "p14 a"
                "p15 a"
                ;

        }
        @include for-mini {

            grid-template-areas:
                "h1 h1"
                "p1 p1"
                "p2 p2"
                "p3 p3"
                "p4 p4"
                "p5 p5"
                "p6 p6"
                "p7 p7"
                "p8 p8"
                "p9 p9"
                "p10 p10"
                "p11 p11"
                "p12 p12"
                "p13 p13"
                "p14 p14"
                "p15 p15"
                "a  a"
                ;

        }

        & > *:nth-last-child(1):not( .gallery ), & > p:last-of-type {

            & {
                
                @include outer-padding;
                position: relative;
                text-shadow: 0 0 .666rem var(--bg-light);
        
                &:before {
                    @include pseudo-background;
        
                    background-image: linear-gradient( #FFF0 20%, var(--bg-light) 50% );
                    opacity: .5;
                }
            }
        }

        a {
            font-variant: small-caps;

            &:hover {
                text-decoration: underline;
            }

            &.footnote-ref, &.footnote-backref {
                font-variant: normal;
                font-weight: bold;
                font-size: .8em;
                color: var(--accent-color);
                display: inline-block;
                width: 1em;
                height: 1em;
                margin-right: -.35rem;
            }
            &.footnote-backref {
                font-size: .666em;
                color: var(--accent-color2);
            }

            // &::selection {
            //     background-color: var(--accent-color);
            //     color: var(--text-color-light);
            // }
        }

        .footnotes {
            @include outer-padding;
            @include footnotes;
            margin-left: calc( var(--large-padding) * -1 );
            position: relative;

            &:before {
                @include pseudo-background;

                background-color: var(--bg-light);
                opacity: .4;
            }

            hr {
                width: var(--large-padding);
                border-color: var(--bg-dark);
                border-width: 0;
                border-top-width: 1px;
                display: block;
                float: left;
                opacity: .666;
            }

            ol, ul {
                clear: both;

                li {
                    counter-increment: foot;
                }

                li::marker {
                    content: counter(foot) '\2001';
                    font-size: .95em;
                    font-weight: 800;
                }
            }

        }

    }

    #bgImage {
        content: "";
        display: block;
        --vignette: calc( var(--large-padding) * 2 );
        width: calc( 100% + var(--vignette) );
        height: 100%;
        position: fixed;
        z-index: -10;
        top: 100%;
        left: calc( 50% - var(--vignette) / 2 );
        transform: translate(-50%);
        box-shadow: var(--large-padding) var(--vignette) var(--vignette) var(--bg-light) inset;
        background-image: linear-gradient( var(--vignette-angle), var(--bg-light) 0%, #FFF0 50%, var(--bg-light) 98%), var(--background-image);
        background-repeat: no-repeat, no-repeat;
        background-size: cover;
        background-position: 50% 100%, ;
        opacity: .2;
        filter: contrast(4) contrast(.95);
        mix-blend-mode: luminosity;
    }
}

/*  Galerija */



.gallery {
    display: flex;
    gap: .5rem;
    margin: 0;

    h2 {
        display: none;
    }

    figure {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border-top: .5rem solid var(--accent-color);
        margin: 0;

        div {
            flex-grow: 1;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }


        figcaption {
            padding: 1rem;
            width: 100%;
            background-color: var(--accent-color);
            color: var(--text-color-light);
        }
    }
    @include for-desktop {

        flex-direction: column;
        figure {
            max-width: 300px;
        }
    }
    @include for-mini {
        flex-direction: column;

        h2 {
            display: block;
        }
    }

}

/* Footer */

footer {
    @include light-text-on-dark;
    padding: var(--default-padding) var(--large-padding);
}


/* global style  */

html, body, p, h1, h2, h3, h4, h5, h6, blockquote, figure, li {
    @include reset;

    &:nth-of-type(2n + 1) {

        &::selection, & *::selection {
            color: var(--text-color-light);
            background-color: var(--accent-color);
        }
    }
    &:nth-of-type(2n), figcaption {

        &::selection, & *::selection {
            color: var(--text-color-light);
            background-color: var(--accent-color2);
        }
    }
}